@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color: #FFFAE3;
}

h1, h2{
    font-family: 'Bricolage Grotesque', sans-serif;
    padding: 1rem 0 0.5rem 0;
    /* Animation with JS */
    opacity: 0;
    transform: translateY(20px);
    transition: 1s ease;
}

p {
    max-width: 600px;
    /* Animation with JS */
    opacity: 0;
    transform: translateY(20px);
    transition: 1s ease 0.5s ;
}

.animate {
    opacity: 1;
    transform: translateY(0);
  }

button {
    padding: 0.5rem 1rem;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    background-color: #C7C551;
    color: #290C36;
    border: none;
    border-bottom: 2px solid #290C36;
    cursor: pointer;
}

/* MOBILE-FIRST APPROACH */
/* First view */
#first-page {
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        hsl(282deg 71% 56%) 2%,
        hsl(282deg 58% 32%) 52%,
        hsl(283deg 68% 11%) 100%
        );
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20px;
    /* Delete this after having finished the design */
    
}
 
#first-page section {
    text-align: center;
    z-index: 10;
    height: 50%;
    margin: 0 20px;
}

#first-page h1 {
    margin-bottom: 5rem;
}

#first-page figure img {
    height: 100vh;
    position: absolute;
}

#first-page figure img:first-child {
    top: 0;
    left: 0;
}

#first-page figure img:nth-child(2) {
    bottom: 0;
    right: 0;
}



/* Second view */
header {
    /* Changes once the user enters the page*/
    display: none;
    justify-content: center;
    height: 90vh;
    position: relative;
    /* CHOOSE ONE */
    background-image: linear-gradient(to bottom, #280a35, #3f184e, #572769, #703784, #8b47a1);
    background-image: linear-gradient(
  0deg,
  hsl(282deg 69% 79%) 2%,
  hsl(281deg 42% 56%) 52%,
  hsl(282deg 66% 34%) 100%
);
    z-index: -100;
}

#moon-sun {
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    z-index: -20;
}
header section {
    margin: 0 20px;
    text-align: center;
    height: 90vh;
    display: grid;
    place-content: center;
    justify-content: center;
    position: fixed;
    z-index: -10;
}

header figure img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

header figure img:first-child {
    z-index: -12;
}

header figure img:nth-child(2) {
    z-index: -10;
}

header figure img:last-child {
    z-index: -6;
}

/* Main */
main {
    /* Shown upon click on "enter" button */
    display: none;
}

/* Importance section */
#importance {
    padding-top: 10vh;
    text-align: center;
    background-color: #290C36;
    display: grid;
    place-content: center;
    position: relative;
    z-index: 10;
}

#importance h2, #importance p {
    padding: 1rem;
}

#dripping-img {
    position: absolute;
    left: 0;
    top:  100%;
    height: 0;
    width: 100%;
    z-index: 10;
}

/* Scroll to top button */
#scroll-to-top-btn {
    position: fixed;
    bottom: -50px;
    right: 20px;
    padding: 10px;
    background-color: #c7c551;
    border-bottom: 2px #280C35 solid;
    border-radius: 50%;
    z-index: 9;
    /* Displayed with Js */
    transition: bottom 1s, opacity 1s;
    opacity: 0;
}

#scroll-to-top-btn:hover {
    background-color: #c7c551e8;

}

#scroll-to-top-btn img {
    height: 20px;
}

/* Types of fungi */

#types-of-fungi {
    background-color: #f7f8Df;
}

.fungi-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
    z-index: 50000;
}

.fungi-item{
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 1rem;
}

.fungi-item .item-button {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    background-color: rgba(84, 42, 101, 0.808);
    cursor: pointer;
}

.fungi-item img {
    object-fit: contain;
    height: 100px;
    width: 100px;
}

#fungi-information div{
    display: grid;
    place-content: center;
    color: #290C36;
    text-align: center;
    padding: 2rem;
}

#fungi-information h3 {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

#fungi-information p {
    padding-bottom: 1rem;
}

.fungi-item button.scaled {
    transform: scale(1.2);
    background-color: #431855;

}

#fungi-information img{ 
    width: 90%;
    max-width: 400px;
}

/* Footer */
footer{
    /* Shown upon click on "enter" button */
    display: none;
    background-color: #280A35;
    position: relative;
    height:200px;
}

footer span {
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}


@media (min-width: 576px) {
    /* Types of fungi */
    #scroll-to-top-btn img {
        height: 30px;
    }
}

@media (min-width: 768px) {
    header section {
        display: block;
        margin-top: 200px;
    }

    /* Types of fungi */
    #types-of-fungi {
        display: grid;
        grid-template-columns: 1fr 10fr;
    }

    .fungi-list {
        display: flex;
        flex-direction: column;
    }

}

@media (min-width: 992px) {
    body {
        font-size: 20px;
    }

    header figure img {
        height: 700px;
    }

    /* Types of fungi */
    #scroll-to-top-btn img {
        height: 40px;
    }
}

@media (min-width: 1200px) {
    header {
        height: 100vh;
    }
    header section {
        display: block;
        margin-top: 50px;
    }
    header figure img {
        height: 900px;
    }

    /*Types of fungi */
    #fungi-information {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 1400px) {
    header figure img {
        height: 1000px;
    }
}