@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    color: #FFFAE3;
}

h1, h2 {
    font-family: 'Bricolage Grotesque', sans-serif;
    padding: 1rem 0 0.5rem 0;
    /* Animation with JS */
    opacity: 0;
    transform: translateY(20px);
    transition: 1s ease;
    
}

p {
    max-width: 600px;
    /* Animation with JS */
    opacity: 0;
    transform: translateY(20px);
    transition: 1s ease 0.5s ;
}

.animate {
    opacity: 1;
    transform: translateY(0);
  }

button {
    padding: 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #294D4A;
    color: #FFFAE3;
    border: none;
    cursor: pointer;
}

/* MOBILE-FIRST APPROACH */
/* First view */

.view:first-child {
    height: 100vh;
    background-color: #FFFAE3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20px;
    /* Delete this after having finished the design */
    display: none; 
}
 
.view:first-child section {
    text-align: center;
    z-index: 10;
    height: 50%;
    margin: 0 20px;
}


.view:first-child figure img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Second view */
.view:nth-child(2) {
    display: none;
    /* Delete this after having finished the design */
    display: flex;
    justify-content: center;
    height: 90vh;
    position: relative;
    background-image: url("../img/stars.PNG");
    background-size: cover;
    background-image: linear-gradient(to bottom, #280a35, #3f184e, #572769, #703784, #8b47a1);
    z-index: -100;
    
}

#moon-sun {
    position: fixed;
    top: 0;
    left: 0;
    width: 600px;
    z-index: -20;
}
.view:nth-child(2) section {
    margin: 0 20px;
    text-align: center;
    height: 90vh;
    display: grid;
    place-content: center;
    justify-content: center;
    position: fixed;
    z-index: -10;
}

.view:nth-child(2) figure img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.view:nth-child(2) figure img:first-child {
    z-index: -12;
}

.view:nth-child(2) figure img:nth-child(2) {
    z-index: -10;
}

.view:nth-child(2) figure img:last-child {
    z-index: -6;
}

/* Main
Importance section */

#importance {
    padding-top: 10vh;
    text-align: center;
    background-color: #290C36;
    display: grid;
    place-content: center;
    position: relative;
}

#importance h2, #importance p {
    padding: 1rem;
}

#dripping-img {
    position: absolute;
    left: 0;
    top:  100%;
    height: 0;
    width: 100%;
    z-index: 10;
}

/* Fungi section */
#fungi {
    background-color: #FFFAE3;
    padding-top: 150px;
    color: #290C36;
}

.item-container {
    border: 2px solid #c7c551;
    padding: 10px 15px;
    display: grid;
    margin: 1rem;
    
}

.item-container span {
    background-color: #290C36;
    width: 50px;
    height: 50px;
    color: #c7c551;
    text-align: center;
    line-height: 50px;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 2rem;
    box-shadow: #c7c551 10px 10px;
}

.item-container img {
    height: 300px;
    padding: 10px;
}


.content-container {
    text-align: center;
    background-color: #290c36;
    padding: 1.5rem;
    display: grid;
    place-items: center;
    color: #FFFAE3;
}

.content-container h2{
    text-transform: lowercase;
    text-align: center;
    opacity: 1;
    transform: translateY(0);
}



