@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1 {
    font-family: 'Bricolage Grotesque', sans-serif;
    padding: 1rem 0;
}

button {
    padding: 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
    background-color: #294D4A;
    color: #FFFAE3;
    border: none;
    cursor: pointer;
}

.view:first-child {
    height: 100vh;
    background-color: #FFFAE3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 20px;
}
 
.view:first-child section {
    text-align: center;
    z-index: 10;
}


.view:first-child figure img {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

